# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

makefile
*.optrpt
*.pdb
*.dyn

# Visual Studio
*.suo
*.settings
*.sln
*.u2d
*.vfproj
*.db3
*.fdz
/x64
/x86

